.toggle-wrapper {
  position: fixed;
  top: 0.2rem;
  right: 8rem;
  z-index: 9999;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  gap: 0.4rem;
  padding: 0.3rem 0.9rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease;
  font-size: 0.75rem;
  
}

.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.2); /* fondo semitransparente */
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.theme-toggle:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}


.toggle-track {
  width: 45px;
  height: 27px;
  border-radius: 13px;
  background-color: #ccc;
  position: relative;
  transition: background-color 0.3s;
}

.toggle-track.dark {
  background-color: #333;
}

.toggle-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}

.toggle-track.dark .toggle-thumb {
  left: 22px;
}

.toggle-label {
  font-size: 0.9rem;
  color: #fff;
}


/* Estilo más compacto en pantallas pequeñas */
@media (max-width: 600px) {
  .theme-toggle {
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .theme-toggle .toggle-text {
    display: none;
  }
}
